.one{
    color:purple;
  }
  .two{
    text-align: center;
  }
  
  .three{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .four{
    background-color: aquamarine;
  }
  
  
  