
  .five{
      color:white;
      background-color: red;
      text-align: center;
      font-size: 30px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  *{
    margin: 0;
    padding: 0;
}

#add{
    width: 150px;
    height: 40px;
    font-size: 23px;
    font-family: sans-serif;
    background-color: #001866;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin:10px;
}


table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: burlywood;
}

table, th, td{
    border: 2px solid black;
    padding: 5px;
}

th{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial;
    color: #004d00;
}

td{
    font-size: 25px;
    color: blue;
    font-weight: 400;
    font-family: Georgia;
}

.required-field::before {
    content: "*";
    color: red;
  }

.input{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Times New Roman';
    margin: 10px;
    color: lightcoral;
}





